.avatar {
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border: double 2px transparent;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #2e2e2e,#F0803C);
    background-origin: border-box;
    background-clip: content-box, border-box;
}