
  .box{
    display:flex;
    flex-direction: column;
    flex:1;
    align-items:center;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 1.5em;
    margin-bottom: 100px;
  }

  

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/


/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (max-width: 1024px) {

  .box{
    display:flex;
    flex-direction: column;
    flex:1;
    align-items:center;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-size: 1em;
  }


}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (max-width: 1024px) and (orientation: landscape) {
  

  .box{
    display:flex;
    flex-direction: column;
    flex:1;
    align-items:center;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 1em;
    margin-bottom: 0px;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/


